// In the name of god
$primary-color: #ddd;

header {
    color:#fff;
    padding:1rem 0;

    .form-group{
        display:flex;
        @media(max-width: 575px){
            margin-bottom:.25rem;
        }
    }
    .btn-light{
        height:2.375rem;
    }
}

.form-group{
    padding:0 .125rem;
}