header {
  color: #fff;
  padding: 1rem 0;
}

header .form-group {
  display: flex;
}

@media (max-width: 575px) {
  header .form-group {
    margin-bottom: .25rem;
  }
}

header .btn-light {
  height: 2.375rem;
}

.form-group {
  padding: 0 .125rem;
}

.form-container h3.display-4 {
  font-size: 3rem;
}