header {
  color: #fff;
  padding: 1rem 0;
}

header .form-group {
  display: flex;
}

@media (max-width: 575px) {
  header .form-group {
    margin-bottom: .25rem;
  }
}

header .btn-light {
  height: 2.375rem;
}

.form-group {
  padding: 0 .125rem;
}

.form-container h3.display-4 {
  font-size: 3rem;
}

div[data-toggle="buttons"] input[type=checkbox],
input[type=radio] {
  display: none;
}

#post-show>p {
  font-size: 14px;
  padding-left:1rem;
}

.no-gutter{
  margin:0;
}