header {
  color: #fff;
  padding: 1rem 0;
}

header .form-group {
  display: flex;
}

@media (max-width: 575px) {
  header .form-group {
    margin-bottom: .25rem;
  }
}

header .btn-light {
  height: 2.375rem;
}

.text-mini {
  font-size: 10px;

}

.form-group {
  padding: 0 .125rem;
}

.form-container h3.display-4 {
  font-size: 3rem;
}

div[data-toggle="buttons"] input[type=checkbox],
input[type=radio] {
  display: none;
}

#post-show>p {
  font-size: 14px;
  padding-left: 1rem;
}

.no-gutter {
  margin: 0;
}

/* __profile__container */
#profile_container .card img {
  width: 50%;
  border-radius: 50%;
}

#dashboard_post .card .card-subtitle {
  font-weight: 400;
}

/* __post__container */
#posts_container h3 a {
  font-size: 34px;
}

/* .card img{
  width:13pc !important;
  height:13pc !important;
} */

#posts article p.card-text {
  white-space: nowrap;
  word-wrap: break-word;
  max-width: 70vw;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

#posts article p.author {
  font-size: 13px;
}

/* Comments ################################################################## */
#comments h3 {
  cursor: pointer !important;
}

textarea#comment_text {
  width: 100% !important;
}

#view_comments .media img {
  max-width:100%;
  width:4vw;
  border-radius: 50%;
}